<ol class="breadcrumb">
  {{#if isClusterData}}
    {{#if data.cluster}}
      <li>{{link-to 'data' 'cluster.data' data.cluster.name}}</li>
    {{/if}}

    {{#if data.bucketType}}
      <li>
        {{link-to data.bucketType.name 'bucket-type'
        data.cluster.name
        data.bucketType.name}}
      </li>

      {{#if data.bucket}}
        <li>
          {{link-to data.bucket.name 'bucket'
          data.cluster.name
          data.bucketType.name
          data.bucket.name}}
        </li>
      {{/if}}

      {{#if data.riakObject}}
        <li>
          {{link-to data.riakObject.name 'riak-object'
          data.cluster.name
          data.bucketType.name
          data.bucket.name
          data.riakObject.name}}
        </li>
      {{/if}}
    {{/if}}

    {{#if data.table}}
      <li>
        {{link-to data.table.name 'table'
        data.cluster.name
        data.table.name}}
      </li>
    {{/if}}

    {{#if data.bucketTypeCreate}}
      <li>create bucket type</li>
    {{/if}}

    {{#if data.tableWrite}}
      <li>write</li>
    {{/if}}
    {{#if data.tableCreate}}
      <li>create table</li>
    {{/if}}

    {{#if data.editView}}
      <li>edit</li>
    {{/if}}
  {{/if}}

  {{#if isClusterOps}}
    {{#if data.cluster}}
      <li>{{link-to 'ops' 'cluster.ops' data.cluster.name}}</li>
    {{/if}}

    {{#if data.node}}
      <li>
        {{link-to data.node.name 'node'
        data.cluster.name
        data.node.name}}
      </li>
    {{/if}}

    {{#if data.logFile}}
      <li>{{data.logFile.name}}</li>
    {{/if}}

    {{#if data.configFile}}
      <li>{{data.configFile.name}}</li>
    {{/if}}
  {{/if}}

  {{#if isClusterQuery}}
    {{#if data.cluster}}
      <li>{{link-to 'query' 'cluster.query' data.cluster.name}}</li>
    {{/if}}

    {{#if data.searchSchema}}
      <li>{{data.searchSchema.name}}</li>
    {{/if}}

    {{#if data.searchIndex}}
      <li>{{data.searchIndex.name}}</li>
    {{/if}}

    {{#if data.schemaCreate}}
      <li>create schema</li>
    {{/if}}

    {{#if data.table}}
      <li>
        {{link-to data.table.name 'table'
        data.cluster.name
        data.table.name}}
      </li>
    {{/if}}
  {{/if}}
</ol>
