<ol class="breadcrumb">
  {{#if isClusterData}}
    {{#if data.cluster}}
      <li>{{link-to 'data' 'cluster.data' data.cluster.name}}</li>
    {{/if}}

    {{#if data.bucketType}}
      <li>
        {{link-to data.bucketType.name 'bucket-type' data.cluster.name data.bucketType.name}}
      </li>

      {{#if data.bucket}}
        <li>
          {{link-to data.bucket.name 'bucket' data.cluster.name data.bucketType.name data.bucket.name}}
        </li>
      {{/if}}

      {{#if data.riakObject}}
        {{#if (eq data.riakObject.type 'counter')}}
          <li>
            {{link-to data.riakObject.name 'riak-object.counter' data.cluster.name data.bucketType.name data.bucket.name data.riakObject.name}}
          </li>
        {{else if (eq data.riakObject.type 'hll')}}
          <li>
            {{link-to data.riakObject.name 'riak-object.hll' data.cluster.name data.bucketType.name data.bucket.name data.riakObject.name}}
          </li>
        {{else if (eq data.riakObject.type 'set')}}
          <li>
            {{link-to data.riakObject.name 'riak-object.set' data.cluster.name data.bucketType.name data.bucket.name data.riakObject.name}}
          </li>
        {{else if (eq data.riakObject.type 'map')}}
          <li>
            {{link-to data.riakObject.name 'riak-object.map' data.cluster.name data.bucketType.name data.bucket.name data.riakObject.name}}
          </li>
        {{else}}
          <li>
            {{link-to data.riakObject.name 'riak-object' data.cluster.name data.bucketType.name data.bucket.name data.riakObject.name}}
          </li>
        {{/if}}
      {{/if}}
    {{/if}}

    {{#if data.table}}
      <li>
        {{link-to data.table.name 'table' data.cluster.name data.table.name}}
      </li>
    {{/if}}

    {{#if data.crudAction}}
      <li>{{data.crudAction}}</li>
    {{/if}}
  {{/if}}

  {{#if isClusterOps}}
    {{#if data.cluster}}
      <li>{{link-to 'ops' 'cluster.ops' data.cluster.name}}</li>
    {{/if}}

    {{#if data.node}}
      <li>
        {{link-to data.node.name 'node' data.cluster.name data.node.name}}
      </li>
    {{/if}}

    {{#if data.logFile}}
      <li>
        {{link-to data.logFile.name 'log-file' data.cluster.name data.node.name data.logFile.name}}
      </li>
    {{/if}}

    {{#if data.configFile}}
      <li>
        {{link-to data.configFile.name 'config-file' data.cluster.name data.node.name data.configFile.name}}
      </li>
    {{/if}}

    {{#if data.crudAction}}
      <li>{{data.crudAction}}</li>
    {{/if}}
  {{/if}}

  {{#if isClusterQuery}}
    {{#if data.cluster}}
      <li>{{link-to 'query' 'cluster.query' data.cluster.name}}</li>
    {{/if}}

    {{#if data.searchIndex}}
      <li>{{link-to data.searchIndex.name 'search-index' data.cluster.name data.searchIndex.name}}</li>
    {{/if}}

    {{#if data.searchSchema}}
      <li>{{link-to data.searchSchema.name 'search-schema' data.cluster.name data.searchSchema.name}}</li>
    {{/if}}

    {{#if data.table}}
      <li>
        {{link-to data.table.name 'table' data.cluster.name data.table.name}}
      </li>
    {{/if}}

    {{#if data.crudAction}}
      <li>{{data.crudAction}}</li>
    {{/if}}
  {{/if}}
</ol>
