<ol class="breadcrumb">
  {{#if isClusterData}}
    <li>{{link-to 'data' 'cluster.data' data.cluster.id}}</li>

    {{#if data.bucketType}}
      <li>
        {{link-to data.bucketType.bucketTypeId 'bucket-type'
        data.cluster.id
        data.bucketType.bucketTypeId}}
      </li>
    {{/if}}

    {{#if data.bucket}}
      <li>
        {{link-to data.bucket.bucketId 'bucket'
        data.cluster.id
        data.bucketType.bucketTypeId
        data.bucket.bucketId}}
      </li>
    {{/if}}

    {{#if data.riakObject}}
      <li>{{data.riakObject.key}}</li>
    {{/if}}
  {{/if}}

  {{#if isClusterOps}}
    <li>{{link-to 'ops' 'cluster.ops' data.cluster.id}}</li>

    {{#if data.node}}
      <li>
        {{link-to data.node.id 'node'
        data.cluster.id
        data.node.id}}
      </li>
    {{/if}}

    {{#if data.logFile}}
      <li>
        {{link-to data.logFile.fileId 'log-file'
        data.cluster.id
        data.node.id
        data.logFile.id}}
      </li>
    {{/if}}

    {{#if data.configFile}}
      <li>
        {{link-to data.configFile.fileId 'config-file'
        data.cluster.id
        data.node.id
        data.configFile.id}}
      </li>
    {{/if}}
  {{/if}}

  {{#if isClusterQuery}}
    <li>{{link-to 'query' 'cluster.query' data.cluster.id}}</li>

    {{#if data.searchSchema}}
      <li>
        {{link-to data.searchSchema.name 'search-schema'
        data.cluster.id
        data.searchSchema.name}}
      </li>
    {{/if}}

    {{#if data.searchIndex}}
      <li>
        {{link-to data.searchIndex.name 'search-index'
        data.cluster.id
        data.searchIndex.name}}
      </li>
    {{/if}}

    {{#if data.schemaCreate}}
      <li>create schema</li>
    {{/if}}
  {{/if}}
</ol>
