<div class="map-item" id={{map.name}}>
  <div class="map-name">
    {{map.name}}
    <span class="expand-contents">
    <code {{action 'subMapToggle'}}>
      {{#if showContent}}
        <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
        <span class="toggle-text">hide contents</span>
      {{else}}
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
        <span class="toggle-text">view contents</span>
      {{/if}}
    </code>
  </span>
  </div>
  <div class={{if showContent 'sub-map-contents expanded' 'sub-map-contents'}}>
    {{map-contents map=map}}
  </div>
</div>
