{{form.explorer-input label='Key' value=object.name}}

<div class="form-group">
  <label>Value</label>

  {{#if (eq object.type 'Counter')}}
    {{input type='number' value=object.contents class='form-control'}}
  {{else if (eq object.type 'Set')}}
    {{ivy-codemirror
    mode='javascript'
    theme='material'
    lineWrapping=true
    value=(mut object.contents)}}
    <p class="help-block">The set value must be entered as a valid javascript array. All array values should be strings. (i.e. <code>['foo', 'bar', 'baz']</code>)</p>
  {{else if (eq object.type 'Map')}}
    {{ivy-codemirror
    mode='javascript'
    theme='material'
    lineWrapping=true
    value=(mut object.contents)}}
    <p class="help-block">The map value must be entered as a javascript object and be valid json.</p>
  {{else if (eq object.type 'HyperLogLog')}}
    {{ivy-codemirror
    mode='javascript'
    theme='material'
    lineWrapping=true
    value=(mut object.contents)}}
    <p class="help-block">The HLL object must be given a list to calculate cardinality from. The list must be entered as a valid javascript array. All array values should be strings. (i.e. <code>['foo', 'bar', 'baz']</code>)</p>
  {{else}}
    {{ivy-codemirror
    mode='javascript'
    theme='material'
    lineWrapping=true
    value=(mut object.contents)}}
  {{/if}}
</div>

{{#if (eq object.type 'Default')}}
  {{form.explorer-input label='Content Type' value=object.contentType}}
{{/if}}