<div class="container set-contents-list">
  <h5>Maps ({{model.mapsList.length}})</h5>

  {{#each model.mapsList as | map |}}
    <div class="row map-composite-field-name">
      <div class="col-md-12">
        <button type="button" class="btn btn-xs btn-danger"
          {{action 'removeField' model map}}>
          remove map
        </button>
        &nbsp;&nbsp;
        <strong>{{map.name}}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          {{object-contents-registers model=map
          addField="addField"
          editField="editField"
          removeField="removeField"}}
        </form>

        <form class="form-inline">
          {{object-contents-flags model=map
          removeField="removeField"}}
        </form>

        <form class="form-inline">
          {{object-contents-counters-embedded model=map
          removeField="removeField"}}
        </form>

        <form class="form-inline">
          {{object-contents-sets-embedded model=map
          removeField="removeField"
          addElement="addElement"
          removeElement="removeElement"}}
        </form>

        <form class="form-inline">
          {{object-contents-maps-embedded model=map
          removeField="removeField" addField="addField" editField="editField"
          addElement="addElement" removeElement="removeElement"
          }}
        </form>
      </div>
    </div>
  {{/each}}
</div>
