<div class="riak-object">
    <div class="object-contents">
        <div class="object-contents-header">
            <div class="object-contents-info">
                Set
                ({{model.contentsForDisplay.length}})
            </div>
            <div class="object-contents-actions">
              {{object-actions model=model isEditing=isEditing
                  deleteObject="deleteObject"}}
            </div>
        </div>
        <div class="object-contents-body">
          <form class="form-inline">
              {{#if model.contentsForDisplay}}
                  {{object-contents-set-elements model=model
                      setElements=model.contentsForDisplay
                      removeElement="removeElement" addElement="addElement"}}
              {{/if}}
          </form>
        </div>
        <div class="object-contents-footer">
            <strong>Page loaded:</strong> {{model.metadata.dateLoaded}}
        </div>
    </div>
</div>

{{!-- This version needs to be updated
<table class="table">
  <thead>
  <tr>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each model.contentsForDisplay as |element|}}
    <tr>
      <td>
        {{element}}
      </td>
      <td>
        {{button.set-element-remove
        model=model
        item=element
        removeElement="removeElement"}}
      </td>
    </tr>
  {{/each}}
  <tr>
    <td>
      {{input value=elementToAdd class="form-control"}}
    </td>
    <td>
      <button type="button" class="btn btn-sm btn-primary" {{action 'addElement' model}}>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add
      </button>
    </td>
  </tr>
  </tbody>
</table>
--}}
