{{#if errors}}
  {{#alert-component type="danger" dismissible=false}}
    {{#if (is-array errors)}}
      <h4><span class="label label-danger">Errors</span></h4>
      <ul>
        {{#each errors as |error|}}
          <li>{{{error}}}</li>
        {{/each}}
      </ul>
    {{else}}
      <h4><span class="label label-danger">Error</span></h4>
      <p>{{errors}}</p>
    {{/if}}
  {{/alert-component}}
{{/if}}
{{#if successMessage}}
  {{#alert-component type="success"}}
    <h4><span class="label label-success">SUCCESS</span></h4>
    <p>{{successMessage}}</p>
  {{/alert-component}}
{{/if}}

<div class="ts-table-container table-write-container">
  {{#dashboard-module.container class='medium-width'}}
    {{#dashboard-module.header label='Table Write Editor'}}
      <div class="module-actions">
        {{#link-to 'table' model.cluster.name model.name class="cancel action-button"}}
          <span class="ion-close-round" aria-hidden="true"></span>
          Cancel
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}
    {{#dashboard-module.body}}

      <section class="table-ref">
        <div class="section-title">{{model.name}}</div>
        {{table.ts-table-reference table=model}}
      </section>

      <section class="table-editor">
        <label>
          Use the editor below to write rows to your table
          <span class="btn btn-xs btn-info" {{action 'insertExample'}}>Insert Example Write</span>
          {{#if helpVisibile}}
            <span class="btn btn-xs btn-info" {{action 'hideHelp'}}>Hide Write Guidelines</span>
          {{else}}
            <span class="btn btn-xs btn-info" {{action 'showHelp'}}>Show Write Guidelines</span>
          {{/if}}
        </label>

        {{ivy-codemirror
          mode='javascript'
          theme='material'
          lineWrapping=true
          value=(mut writeData)}}

        <div class="submit-button-container">
          <button type="submit" class="btn btn-primary" disabled={{isDisabled}} {{action 'writeDataToTable' model writeData}}>
            Insert Rows
          </button>
        </div>
      </section>
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>

{{#ember-wormhole to="side-drawer-container"}}
  {{#side-drawer
    label='Write Guidelines'
    visible=helpVisibile}}
    {{render 'partials.ts-table-write-guidelines'}}
  {{/side-drawer}}
{{/ember-wormhole}}