<section class="form-section table-name">
  <div class="form-group">
    <label>Table Name</label>
    {{input
      class='form-control'
      value=(mut table.name)}}
  </div>
</section>

<section class="form-section table-fields">
  <label>Fields (name, type)</label>

  {{#each table.fields as |field index|}}
    <div class="form-group table-field">
      <div class="form-inline">
        <div class="form-group">
          {{input
            class='form-control'
            value=(mut field.name)
            placeholder='name'}}
        </div>
        <div class="form-group">
          <select onchange={{action (mut field.type) value="target.value"}} class='form-control'>
            {{#each availableFieldTypes as |type|}}
              <option value={{type}} selected={{eq field.type type}}>{{type}}</option>
            {{/each}}
          </select>
        </div>
        <span class="remove-field label label-danger" {{action 'removeField' 'tableField' index}}>
          remove
        </span>
      </div>
    </div>
  {{/each}}

  <div class="form-group add-field">
    <span {{action 'addField' 'tableField'}}>
      <span class="ion-plus-circled" aria-hidden="true"></span>
      Add table field
    </span>
  </div>
</section>

<section class="form-section partition-key">
  <label>Partition Key</label>
  <div class="form-group">
    {{#each table.partitionKey as |field index|}}
      <div class="form-group table-field">
        <div class="form-inline">
          {{#if field.quantum}}


            <div class="form-group quantum">
              <label>Quantum (table field name, quantity, unit of time)</label>
              <div class="form-inline">
                <div class="form-group field-name">
                  <select onchange={{action (mut quantum.name) value="target.value"}} class='form-control'>
                    {{#each table.possiblePartitionKeyQuantum as |option|}}
                      <option value={{option}} selected={{eq option quantum.name}}>{{option}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="form-group quantity">
                  {{input
                  class='form-control'
                  type="number"
                  min="1"
                  placeholder='1'
                  value=(mut quantum.quantity)}}
                </div>

                <div class="form-group unit">
                  <select onchange={{action (mut quantum.unit) value="target.value"}} class='form-control'>
                    {{#each availableTimeUnits as |unit|}}
                      <option value={{unit}} selected={{eq unit quantum.unit}}>{{unit}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>


          {{else}}
            <div class="form-group partition-key-field">
              <select onchange={{action (mut field.name) value="target.value"}} class='form-control'>
                {{#each table.possiblePartitionKeys as |option|}}
                  <option value={{option}} selected={{eq option field.name}}>{{option}}</option>
                {{/each}}
              </select>
            </div>
          {{/if}}

          <span class="remove-field label label-danger" {{action 'removeField' 'partitionKey' index}}>
            remove
          </span>
        </div>
      </div>
    {{/each}}

    {{#if table.suggestedPartitionKey}}
      <div class="form-group add-field">
        <span {{action 'addField' 'partitionKeyField'}}>
          <span class="ion-plus-circled" aria-hidden="true"></span>
          Add partition key field
        </span>
      </div>
    {{/if}}

    {{#if table.possiblePartitionKeyQuantum}}
      <div class="form-group add-field">
        <span {{action 'addField' 'partitionKeyQuantum'}}>
          <span class="ion-plus-circled" aria-hidden="true"></span>
          Add partition key quanta
        </span>
      </div>
    {{/if}}
  </div>
</section>

{{!--<section class="form-section">--}}
  {{!--<label>Local Key</label>--}}
  {{!--{{#each localKeyFields as |field index|}}--}}
    {{!--<div class="form-group table-field">--}}
      {{!--<div class="form-inline">--}}
        {{!--<div class="form-group local-key-field">--}}
          {{!--<select onchange={{action (mut field.value) value="target.value"}} class='form-control'>--}}
            {{!--{{#each availablePrimaryKeyFields as |fieldOption|}}--}}
              {{!--<option value={{fieldOption}} selected={{eq fieldOption field.value}}>{{fieldOption}}</option>--}}
            {{!--{{/each}}--}}
          {{!--</select>--}}
        {{!--</div>--}}
        {{!--<span class="remove-field label label-danger" {{action 'removeField' 'localKey' index}}>--}}
          {{!--remove--}}
        {{!--</span>--}}
      {{!--</div>--}}
    {{!--</div>--}}
  {{!--{{/each}}--}}
  {{!--<div class="form-group add-field">--}}
      {{!--<span {{action 'addNewLocalKeyField'}}>--}}
        {{!--<span class="ion-plus-circled" aria-hidden="true"></span>--}}
        {{!--Add additional fields to local key--}}
      {{!--</span>--}}
  {{!--</div>--}}
{{!--</section>--}}

<div class="form-group create-button">
  <button class="btn btn-primary">Create Table</button>
</div>