<div class='ts-table-container table-query-container'>
  {{#dashboard-module.container}}
    {{#dashboard-module.header label='Query Table'}}
      <div class="module-actions">
        {{#link-to 'table' model.cluster.name model.name class="cancel action-button"}}
          <span class="ion-close-round" aria-hidden="true"></span>
          Cancel
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}

    {{#dashboard-module.body}}

      <section>
        <div class="section-title">{{model.name}}</div>
        {{table.ts-table-reference table=model}}
      </section>

      <section>
        <label>
          Use the editor on the left to query against the table
          {{#if example}}
            <span class="btn btn-xs btn-info" {{action 'insertExample'}}>Insert Example Query</span>
          {{/if}}
          {{#if isSideDrawerVisible}}
            <span class="btn btn-xs btn-info" {{action 'hideSideDrawer'}}>Hide Query Guidelines</span>
          {{else}}
            <span class="btn btn-xs btn-info" {{action 'showSideDrawer'}}>Show Query Guidelines</span>
          {{/if}}
        </label>

        <div class="split-panel">
          <div class="left-panel">
            <div class="help-block">Query</div>

            {{ivy-codemirror
              mode='javascript'
              theme='material'
              lineWrapping=true
              autofocus=true
              tabindex=1
              value=(mut query)}}

            <div class="submit-button-container">
              <button type="submit" class="btn btn-primary" disabled={{isDisabled}} {{action 'runQuery' model query}}>
                Run Query
              </button>
            </div>
          </div>

          <div class="right-panel">
            <div class="help-block">
              Result
              {{#if resultLength}}
                <small>({{resultLength}} rows)</small>
              {{/if}}

              {{#if showClear}}
                <span class="clear-statement" {{action 'clear'}}>clear</span>
              {{/if}}
            </div>

            {{ivy-codemirror
              mode='javascript'
              theme='material'
              readOnly=true
              lineWrapping=true
              value=result}}
          </div>
        </div>
      </section>

    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>

{{#ember-wormhole to="side-drawer-container"}}
  {{#side-drawer
  label='Query Guidelines'
  visible=isSideDrawerVisible}}
    {{render 'partials.ts-query-guidelines'}}
  {{/side-drawer}}
{{/ember-wormhole}}

