{{!--{{#alert-component type='info'}}--}}
  {{!--<h4><span class="label label-info">Notes on Querying</span></h4>--}}
  {{!--<ul>--}}
    {{!--<li>Your query must include all fields defined in the partition key.</li>--}}
    {{!--<li>Fields in the local key must be compared using strict equality against literal values, ranges are not allowed</li>--}}
    {{!--<li>Fields may not be compared against other fields in the query.</li>--}}
    {{!--<li>When using <code>or</code>, you must surround the expression with parentheses or your query will return an error.</li>--}}
    {{!--<li>For more information on querying a table, visit the <a href="http://docs.basho.com/riak/ts/1.2.0/using/querying/" target="_blank">Basho Docs</a>.</li>--}}
  {{!--</ul>--}}
{{!--{{/alert-component}}--}}

{{#if successMessage}}
  {{#alert-component type="success" dismissible=false}}
    <h4><span class="label label-success">SUCCESS</span></h4>
    <ul>
      <p>{{successMessage}}</p>
    </ul>
  {{/alert-component}}
{{/if}}

<div class='bucket-types-container'>
  {{#dashboard-module.container class='table-query-container'}}
    {{#dashboard-module.header label='Query Table'}}
      <div class="module-actions">
        {{#link-to 'table' model.cluster.name model.name class="cancel action-button"}}
          <span class="ion-close-round" aria-hidden="true"></span>
          Cancel
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}

    {{#dashboard-module.body}}

      <section class="table-ref">
        <div class="section-title">Table Reference</div>
        {{table.ts-table-reference table=model}}
      </section>

      <section class="query-module">
        <span class="section-title">Query Editor</span>
        <div class="split-panel">

          <div class="left-panel">
            <div class="form-group">
              <label>Statement</label>
              <button type="submit" class="btn btn-xs btn-primary" disabled={{isDisabled}} {{action 'runQuery' model query}}>
                Run Query
              </button>

              {{textarea
              value=(mut query)
              class="form-control"
              rows="4"}}
              <span class="help-block">
                <small>
                  example statement:<br/>
                  <code>{{example}}</code>
                </small>
              </span>
            </div>
          </div>

          <div class="right-panel">
            <label>
              Result
              {{#if resultLength}}
                <small>({{resultLength}} rows)</small>
              {{/if}}
            </label>

            {{#if showClear}}
              <span class="clear-statement" {{action 'clear'}}>clear</span>
            {{/if}}

            <section class="query-result-container">
              {{code-highlighter
                lang='js'
                code=result}}
            </section>
          </div>

        </div>
      </section>

    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>


