{{#dashboard-module class='two-thirds'}}
  {{#dashboard-module-header label='Object Edit'}}
    <div class="module-actions">
      <button type="button" class="action-button save" {{action 'saveObject' model}}>
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        Update Object
      </button>
    </div>
  {{/dashboard-module-header}}
  {{#dashboard-module-body}}
    {{#if model.isLoaded}}
      <div class="module-edit-group">
        <table class="key-value-table">
          <tbody>
            <tr>
              <td class="key group-header">Object Contents</td>
              <td class="value"></td>
            </tr>
            <tr>
              <td class="key">Content Type:</td>
              <td class="value">
                {{input value=model.metadata.contentType
                id='metadata.contentType'
                class="form-control"}}
              </td>
            </tr>
            <tr>
              <td class="key">Content Type:</td>
              <td class="value">
                {{textarea
                class="form-control"
                value=model.contents
                rows=8
                autofocus=true}}
              </td>
            </tr>

            <tr>
              <td class="key group-header">Secondary Indexes</td>
              <td class="value"></td>
            </tr>
            {{#each model.metadata.headersIndexes as |header|}}
              <tr>
                <td class="key">{{header.key}}</td>
                <td class="value">
                  {{input value=header.value id=header.key class="form-control"}}
                </td>
              </tr>
            {{/each}}

            <tr>
              <td class="key group-header">Custom Headers</td>
              <td class="value"></td>
            </tr>
            {{#each model.metadata.headersCustom as |header|}}
              <tr>
                <td class="key">{{header.key}}</td>
                <td class="value">
                  {{input value=header.value id=header.key class="form-control"}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      {{loading-spinner}}
    {{/if}}
  {{/dashboard-module-body}}
{{/dashboard-module}}


