<div class='view-header'>
  {{breadcrumb-component
  clusterId=model.clusterId
  bucketTypeId=model.bucketTypeId
  bucketId=model.bucketId
  keyId=model.key
  }}
  {{view-label
  pre-label='Riak Object'
  label=model.key}}
</div>

{{#dashboard-module}}
  {{#if model.isLoaded}}
    <div class="riak-object">
      {{object-metadata metadata=model.metadata isEditing=true}}
      {{object-contents model=model isEditing=true saveObject="saveObject"}}
    </div>
  {{else}}
    {{loading-spinner}}
  {{/if}}
{{/dashboard-module}}


