{{#dashboard-module.container class='small-width'}}
  {{#dashboard-module.header label='Object Edit'}}
    <div class="module-actions">
      {{#link-to 'riak-object'
      model.cluster.name
      model.bucketType.name
      model.bucket.name
      model.name
      class='action-button cancel'}}
        <span class="ion-close-round" aria-hidden="true"></span>
        Cancel
      {{/link-to}}
    </div>
  {{/dashboard-module.header}}

  {{#dashboard-module.body}}
    <div class="update-object-form">
      <section class="object-contents">
        <div class="section-title">Object Contents</div>
        <div class="form-group content-type">
          <label>Content Type</label>
          {{input value=model.contentType
          id='metadata.contentType'
          class="form-control"}}
        </div>
        <div class="form-group content">
          <label>Content</label>
          {{ivy-codemirror
          mode='javascript'
          theme='material'
          lineWrapping=true
          value=(mut stringifiedContents)}}
        </div>
      </section>
      <section class="secondary-indexes">
        <div class="section-title">Secondary Indexes</div>
        {{#each model.indexes as |header|}}
          <div class="form-group content-type">
            <label>{{header.key}}</label>
            {{input value=header.value id=header.key class="form-control"}}
          </div>
        {{/each}}
      </section>
      <section class="custom-headers">
        <div class="section-title">Custom Headers</div>
        {{#each model.headersCustom as |header|}}
          <div class="form-group content-type">
            <label>{{header.key}}</label>
            {{input value=header.value id=header.key class="form-control"}}
          </div>
        {{/each}}
      </section>
      <section class="update-object">
        <button type="button" class="btn btn-primary" {{action 'updateObject' model}}>
          <span class="ion-edit" aria-hidden="true"></span>
          Update Object
        </button>
      </section>
    </div>
  {{/dashboard-module.body}}
{{/dashboard-module.container}}
