<div class='view-header'>
    {{breadcrumb-component clusterId=model.id}}
    {{view-label
    pre-label='Cluster'
    label=model.id}}
</div>

<div class='cluster-information-container'>
    {{#dashboard-module label='Cluster Properties'}}
        <table class="key-value-table">
            <tbody>
            <tr>
                <td class="key">Development Mode</td>
                <td class="value">
                    {{#if model.developmentMode}}
                        On
                    {{else}}
                        Off
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td class="key">Edition Type</td>
                <td class="value">
                    {{#if model.isEnterpriseEdition}}
                        Enterprise
                    {{else}}
                        {{#if model.isOpenSourceEdition}}
                                Open Source
                        {{else}}
                            {{model.riakType}}
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
            </tbody>
        </table>
    {{/dashboard-module}}

    {{#dashboard-module label='Active Bucket Types'}}
        {{#if model.activeBucketTypes}}
            {{bucket-types
            clusterId=model.clusterId
            bucketTypes=model.activeBucketTypes}}
        {{else}}
            <p>No bucket types have been activated</p>
        {{/if}}
    {{/dashboard-module}}

    {{#dashboard-module label='Inactive Bucket Types'}}
        {{#if model.inactiveBucketTypes}}
            {{bucket-types
            clusterId=model.clusterId
            bucketTypes=model.inactiveBucketTypes}}
        {{else}}
            <p>No inactive buckets</p>
        {{/if}}
    {{/dashboard-module}}

    {{#dashboard-module label='Search Overview'}}
        {{#link-to 'search-schema.create' model.id class='btn btn-small btn-primary'}}
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create new search schema
        {{/link-to}}

        {{#if model.searchIndexes}}
            {{search-indexes indexes=model.searchIndexes}}
        {{else}}
            <p>No search indexes found</p>
        {{/if}}
    {{/dashboard-module}}

    {{#dashboard-module label='Nodes'}}
        {{#if model.nodes}}
            <ul class="button-list">
                {{#each model.nodes as |node|}}
                    <li>
                        {{#if node.available}}
                            {{#link-to 'node' model.id node.id }}
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                {{node.id}}
                            {{/link-to}}
                        {{else}}
                            {{#link-to 'node' model.id node.id class='danger'}}
                                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                {{node.id}}
                            {{/link-to}}
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No nodes detected</p>
        {{/if}}
    {{/dashboard-module}}
</div>


