<div class='view-header'>
  {{breadcrumb-component clusterId=model.clusterId}}
  {{view-label
  pre-label='Cluster'
  label=model.clusterId}}
</div>

<div class='cluster-information-container'>
  {{#dashboard-module label='Active Bucket Types'}}
    {{#if model.activeBucketTypes}}
      {{bucket-types
      clusterId=model.clusterId
      bucketTypes=model.activeBucketTypes}}
    {{else}}
      <p>No bucket types have been activated</p>
    {{/if}}
  {{/dashboard-module}}

  {{#dashboard-module label='Inactive Bucket Types'}}
    {{#if model.inactiveBucketTypes}}
      {{bucket-types
      clusterId=model.clusterId
      bucketTypes=model.inactiveBucketTypes}}
    {{else}}
      <p>No inactive buckets</p>
    {{/if}}
  {{/dashboard-module}}

  {{#dashboard-module label='Search Indexes'}}
    {{#if model.indexes}}
      {{search-indexes
      indexes=model.indexes
      clusterProxyUrl=model.proxyUrl}}
    {{else}}
      <p>No search indexes found</p>
    {{/if}}
  {{/dashboard-module}}

  {{#dashboard-module label='Nodes'}}
    {{#if model.nodes.length}}
      <table class="table">
        <thead>
        <tr>
          <th>Ping</th>
          <th>Stats</th>
          <th>Node</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.nodes as |node|}}
          <tr>
            <td>
              {{#link-to 'riak-ping' (query-params nodeId=node.id clusterId=model.clusterId)
              classNames='btn btn-sm btn-primary' }}
                Node Ping
              {{/link-to}}
            </td>
            <td>
              {{#link-to 'node-stats' (query-params nodeId=node.id clusterId=model.clusterId)
              classNames='btn btn-sm btn-primary' }}
                Node Stats
              {{/link-to}}
            </td>
            <td>
              {{node.id}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>No nodes detected</p>
    {{/if}}
  {{/dashboard-module}}
</div>
