{{#if errors}}
  {{#alert-component type="danger" dismissible=false}}
    {{#if (is-array errors)}}
      <h4><span class="label label-danger">Errors</span></h4>
      <ul>
        {{#each errors as |error|}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    {{else}}
      <h4><span class="label label-danger">Error</span></h4>
      <p>{{errors}}</p>
    {{/if}}
  {{/alert-component}}
{{/if}}

<div class="ts-table-container table-create-container">
  {{#dashboard-module.container class='medium-width'}}
    {{#dashboard-module.header label='Table Schema Editor'}}
      <div class="module-actions">
        {{#link-to 'cluster.data' model.cluster.name class="cancel action-button"}}
          <span class="ion-close-round" aria-hidden="true"></span>
          Cancel
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}
    {{#dashboard-module.body}}
      {{#if showSpinner}}
        {{loading-spinner statusMessage=model.statusMessage}}
      {{else}}
        <div class="manually-create">
          <label>
            Use the editor below to define your table
            <span class="btn btn-xs btn-info" {{action 'insertTemplate'}}>Insert Sample Template</span>

            {{#if isSideDrawerVisible}}
              <span class="btn btn-xs btn-info" {{action 'hideSideDrawer'}}>Hide Schema Guidelines</span>
            {{else}}
              <span class="btn btn-xs btn-info" {{action 'showSideDrawer'}}>Schema Guidelines</span>
            {{/if}}
          </label>

          {{ivy-codemirror
            mode='sql'
            theme='material'
            lineWrapping=true
            autofocus=true
            value=(mut statement)}}


          <div class="submit-button-container">
            <button type="submit" class="btn btn-primary" disabled={{isDisabled}} {{action 'createTableManually' model statement}}>
              Create Table
            </button>
          </div>

          {{!--TODO: Implement Form Wizard--}}
          {{!--{{form.table.create-table--}}
          {{!--errors=(mut errors)--}}
          {{!--table=model--}}
          {{!--addField='addField'--}}
          {{!--removeField='removeField'--}}
          {{!--createTable='createTable'}}--}}
        </div>
      {{/if}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>

{{#ember-wormhole to="side-drawer-container"}}
  {{#side-drawer
  label='Schema Guidelines'
  visible=isSideDrawerVisible}}
    {{render 'partials.ts-planning-guidelines'}}
  {{/side-drawer}}
{{/ember-wormhole}}
