{{#if errors}}
  {{#alert-component type="danger"}}
    <h4><span class="label label-danger">Errors</span></h4>
    <ul>
      {{#each errors as |error|}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  {{/alert-component}}
{{/if}}

<div class="bucket-type-create-container">
  {{#dashboard-module.container class='medium-width'}}
    {{#dashboard-module.header label='Create Bucket Type Form'}}
      <div class="module-actions">
        {{#link-to 'cluster.data' model.cluster.name class="cancel action-button"}}
          <span class="ion-close-round" aria-hidden="true"></span>
          Cancel
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}
    {{#dashboard-module.body}}
      {{#if showSpinner}}
        {{loading-spinner statusMessage=spinnerMessage}}
      {{else}}
        <form class="bucket-type-create-form">
          <div class="form-group name-input">
            <label>Name</label>
            {{input value=(mut model.name) class='form-control'}}
          </div>

          <div class="form-group type-input">
            <label>Data Type</label>
            <select onchange={{action (mut dataType) value="target.value"}} class='form-control'>
              {{#each dataTypes as |type|}}
                <option value={{type}} selected={{eq dataType type}}>{{type}}</option>
              {{/each}}
            </select>
          </div>

          {{add-custom-properties properties=properties}}

          <div class="form-group create-button">
            <button class="btn btn-primary" {{action 'createBucketType'}}>
              Create Bucket Type
            </button>
          </div>
        </form>
      {{/if}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>