{{#if errors}}
  {{#bs-alert type="danger"}}
    <h4><span class="label label-danger">Errors</span></h4>
    <ul>
      {{#each errors as |error|}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  {{/bs-alert}}
{{/if}}

<div class="bucket-type-create-container" xmlns="http://www.w3.org/1999/html">
  {{#dashboard-module.container class='medium-width'}}
    {{#dashboard-module.header label='New Bucket Type'}}
      <div class="module-actions">
        <button class="cancel action-button" {{action 'cancelCreateBucketType'}}>
          <span class="ion-close-round" aria-hidden="true"></span>
          Cancel
        </button>
      </div>
    {{/dashboard-module.header}}
    {{#dashboard-module.body}}
      <form class="bucket-type-create-form">
        <div class="form-group name-input">
          <label>Name</label>
          {{input value=bucketTypeName class='form-control'}}
        </div>

        <div class="form-group type-input">
          <label>Data Type</label>
          <select onchange={{action (mut dataType) value="target.value"}} class='form-control'>
            {{#each dataTypes as |type|}}
              <option value={{type}} selected={{eq dataType type}}>{{type}}</option>
            {{/each}}
          </select>
        </div>

        {{#each properties as |property index|}}
          <div class="property-container">
            <div class="form-group property-input">
              <label>Property Key</label>
              {{input value=property.key class='form-control'}}
            </div>
            <div class="form-group property-input">
              <label>Property Value</label>
              {{input value=property.value class='form-control'}}
            </div>

            <span class="remove-property label label-danger" {{action 'removeProperty' index}}>
              remove
            </span>
          </div>
        {{/each}}

        <div class="form-group add-property">
          <span {{action 'addNewProperty'}}>
            <span class="ion-plus-circled" aria-hidden="true"></span>
            Add bucket type property
          </span>
        </div>

        <div class="form-group create-button">
          <button class="btn btn-primary" {{action 'createBucketType'}}>
            Create Bucket Type
          </button>
        </div>
      </form>
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>