{{#dashboard-module class='medium-width'}}
  {{#dashboard-module-header label='Object Details'}}
    <div class="module-actions">
      <a href="{{model.url}}" class="btn btn-sm btn-primary">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        View Raw Data
      </a>
      <button type="button" class="action-button delete" {{action 'deleteObject' model}}>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Delete Object
      </button>
    </div>
  {{/dashboard-module-header}}
  {{#dashboard-module-body}}
    <table class="key-value-table">
        <tbody>
        <tr>
          <td class="key">Set Length</td>
          <td class="value">{{model.contents.length}}</td>
        </tr>
        <tr>
          <td class="key">Set Items</td>
          <td class="value">
            <ul class="object-content-list">
              {{#each model.contents as |element|}}
                <li>
                  <code>{{element}}</code>
                  <button type="button" class="remove-item"
                    {{action 'removeElement' model element}}>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>
                </li>
              {{/each}}
              <li>
                {{input value=elementToAdd class="input-add-item"}}
                <button type="button" class="button-add-item" {{action 'addElement' model elementToAdd}}>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  Add Item
                </button>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
  {{/dashboard-module-body}}
{{/dashboard-module}}
