{{#dashboard-module.container}}
  {{#dashboard-module.header}}
    <span class="module-label">
      {{#if model.moreLinesThanPageSize}}
        File output from
      <code>tail -n {{model.pageSize}}</code>
      <span class="mini-label">({{model.totalLines}} total lines)</span>
      {{else}}
        File output
      <span class="mini-label">({{model.totalLines}} total lines)</span>
      {{/if}}
    </span>
    <div class="module-actions">
      <span class="refresh action-button" {{action 'refreshLogFile' model}}>
        <span class={{if model.isRefreshing 'ion-refresh' 'ion-refresh'}} aria-hidden="true"></span>
        Refresh {{model.name}}
      </span>
    </div>
  {{/dashboard-module.header}}
  {{#dashboard-module.body}}
    {{#if model.content}}
      {{code-highlighter
      lang='erlang'
      code=model.content}}
    {{else}}
      {{#alert-component type="info"}}
        <p><strong>File contains no contents.</strong></p>
      {{/alert-component}}
    {{/if}}
  {{/dashboard-module.body}}
{{/dashboard-module.container}}
