<div class='view-header'>
    {{breadcrumb-component
    clusterId=model.clusterId
    pageTitle='create schema'
    }}
    {{view-label
    pre-label='Create Schema'}}
</div>

{{#dashboard-module}}
    <div class="schema-actions">
        <span class="create schema-action" {{action 'createSchema' model.clusterId schemaName schemaContent}}>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            Create Schema
        </span>

        {{#link-to 'cluster' model.clusterId class='cancel schema-action' }}
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Cancel
        {{/link-to}}
    </div>

    <form>
        <div class="form-group">
            <label>Schema Name</label>
            {{input value=schemaName class='form-control'}}
        </div>

        <div class="form-group">
            <label>Schema XML</label>
            {{textarea value=schemaContent rows=10 class='form-control'}}
        </div>
    </form>
{{/dashboard-module}}
