{{#if model.warnings.insufficientNodes}}
  {{#alert-component type="warning"}}
    <h4><span class="label label-warning">WARNING: Insufficient Nodes</span></h4>
    <p>{{model.warnings.insufficientNodes}}</p>
    <p>Reference: <a href="http://docs.basho.com/riak/latest/ops/building/planning/cluster/#Number-of-Nodes" target="_blank">Cluster Planning</a></p>
  {{/alert-component}}
{{/if}}

<div class='cluster-ops-container'>

  {{#dashboard-module.container}}
    {{#dashboard-module.header}}
      <div class="module-label">Cluster: {{model.name}}</div>
    {{/dashboard-module.header}}
    {{#dashboard-module.body}}
      {{#ivy-tabs on-select=(action (mut selectedIndex)) selected-index=selectedIndex as |tabs|}}
        {{#tabs.tablist as |tablist|}}
          {{#tablist.tab}}Monitoring{{/tablist.tab}}
          {{#if (and model.developmentMode model.isEnterpriseEdition)}}
            {{#tablist.tab}}MDC Operations{{/tablist.tab}}
          {{/if}}
          {{#tablist.tab}}Individual Node Details{{/tablist.tab}}
        {{/tabs.tablist}}


        {{!--Monitoring Tab--}}
        {{#tabs.tabpanel}}
          {{#if model.nodes.length}}
            {{#each currentGraphs as |statName|}}
              <div class="cluster-graph">
                <div style="margin-bottom: 30px;">
                  <span>Displayed Graph:</span>
                  {{#power-select
                  selected=statName
                  options=currentlyAvailableStats
                  searchEnabled=true
                  onchange=(action "updateGraphName" statName)
                  class='node-chart-select'
                  as |statOption|}}
                    {{statOption}}
                  {{/power-select}}
                </div>

                <div>
                  <button type="button" class="btn btn-danger" {{action 'removeGraph' statName}}>
                    <span class="ion-ios-trash" aria-hidden="true"></span>
                    Remove Graph
                  </button>
                </div>
              </div>
            {{/each}}
          {{else}}
            <p>No nodes detected</p>
          {{/if}}
        {{/tabs.tabpanel}}

        {{!--MDC TAB      --}}
        {{#if (and model.developmentMode model.isEnterpriseEdition)}}
          {{#tabs.tabpanel}}
            <form class="mdc-repl">
              <div class="form-group repl-action-select">
                <label>Available Actions</label>
                {{#power-select
                selected=currentlySelectedAction
                options=availableReplActions
                searchEnabled=false
                onchange=(action "warnReplAction")
                as |replAction|}}
                  {{replAction}}
                {{/power-select}}
              </div>

              {{#if currentReplOutput}}
                <div>
                  <label>Output</label>
                  {{ivy-codemirror
                  mode='javascript'
                  theme='material'
                  lineWrapping=true
                  readOnly=true
                  value=currentReplOutput}}
                </div>
              {{/if}}
            </form>
          {{/tabs.tabpanel}}
        {{/if}}

        {{!--Individual Nodes Tab--}}
        {{#tabs.tabpanel}}
          {{#if model.nodes}}
            <p style="margin-bottom: 30px">Select any of the nodes below to dive into node specific details (stats, configuration, monitoring, etc.)</p>

            <ul class="button-list">
              {{#each model.nodes as |node|}}
                <li>
                  {{#if node.available}}
                    {{#link-to 'node' model.name node.name }}
                      <span class="ion-checkmark-circled" aria-hidden="true"></span>
                      {{node.name}}
                    {{/link-to}}
                  {{else}}
                    {{#link-to 'node' model.name node.name class='danger'}}
                      <span class="ion-alert-circled" aria-hidden="true"></span>
                      {{node.name}}
                    {{/link-to}}
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          {{else}}
            <p>No nodes detected</p>
          {{/if}}
        {{/tabs.tabpanel}}
      {{/ivy-tabs}}

    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>

{{!-- Modal Template --}}
{{#if modalVisible}}
  {{#modal-dialog
  close='cancelReplAction'
  translucentOverlay=true}}
    <div class="modal-content-container">
      <header class="modal-header">
        <h3><span class="label label-danger"><i
          class="ion-alert-circled"></i> Potentially Dangerous Operation</span>
        </h3>
      </header>

      <section class="modal-body">
        <p>Are you sure you want to perform a <strong>{{currentlySelectedAction}}</strong> operation?</p>
        <p>MDC replication operations can effect cluster performance and should only be done by a cluster administrator.</p>
      </section>

      <footer class="modal-footer">
        <button class="btn btn-default" {{action 'cancelReplAction'}}>Cancel</button>
        <button class="btn btn-primary" {{action 'confirmReplAction' model}}>Confirm</button>
      </footer>
    </div>
  {{/modal-dialog}}
{{/if}}


