{{#if model.warnings.insufficientNodes}}
  {{#bs-alert type="warning"}}
    <h4><span class="label label-warning">WARNING: Insufficient Nodes</span></h4>
    <p>{{model.warnings.insufficientNodes}}</p>
    <p>Reference: <a href="http://docs.basho.com/riak/latest/ops/building/planning/cluster/#Number-of-Nodes" target="_blank">Cluster Planning</a></p>
  {{/bs-alert}}
{{/if}}

<div class='cluster-ops-container'>
  {{#if model.isEnterpriseEdition}}
    {{#dashboard-module.container class='small-width'}}
      {{dashboard-module.header label='Multi Data Center Replication'}}
      {{#dashboard-module.body}}
        <form class="mdc-repl">
          <div class="form-group repl-action-select">
            <label>Available Actions</label>
            {{#power-select
              selected=currentlySelectedAction
              options=availableReplActions
              searchEnabled=false
              onchange=(action "getReplicationOutput")
              as |replAction|}}
              {{replAction}}
            {{/power-select}}
          </div>

          {{#if currentReplOutput}}
            <div>
              <label>Output</label>
              {{#code-highlighter language-type='json'}}
                {{currentReplOutput}}
              {{/code-highlighter}}
            </div>
          {{/if}}
        </form>
      {{/dashboard-module.body}}
    {{/dashboard-module.container}}
  {{/if}}

  {{#dashboard-module.container class='small-width'}}
    {{dashboard-module.header label='Nodes'}}
    {{#dashboard-module.body}}
      {{#if model.nodes}}
        <ul class="button-list">
          {{#each model.nodes as |node|}}
            <li>
              {{#if node.available}}
                {{#link-to 'node' model.name node.name }}
                  <span class="ion-checkmark-circled" aria-hidden="true"></span>
                  {{node.name}}
                {{/link-to}}
              {{else}}
                {{#link-to 'node' model.name node.name class='danger'}}
                  <span class="ion-alert-circled" aria-hidden="true"></span>
                  {{node.name}}
                {{/link-to}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>No nodes detected</p>
      {{/if}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>


