{{#if model.warnings}}
  {{#alert-component type="warning" dismissible=false}}
      <h4><span class="label label-warning">WARNINGS</span></h4>
      <ul>
        {{#each model.warnings as |warning|}}
            <li>{{warning}}</li>
        {{/each}}
      </ul>
  {{/alert-component}}
{{/if}}

{{#dashboard-module.container class='medium-width'}}
  {{#dashboard-module.header label='Table Properties'}}
      <div class="module-actions">
        {{#link-to 'table.write' model.cluster.name model.name class='action-button create'}}
            <span class="ion-plus-circled" aria-hidden="true"></span>
            Write Data
        {{/link-to}}

        {{#link-to 'table.query'
        model.cluster.name
        model.name
        class='action-button create'}}
            <span class="ion-search" aria-hidden="true"></span>
            Query Data
        {{/link-to}}
      </div>
  {{/dashboard-module.header}}
  {{#dashboard-module.body}}
    {{#ivy-tabs on-select=(action (mut selectedIndex)) selected-index=selectedIndex as |tabs|}}
      {{#tabs.tablist as |tablist|}}
        {{#tablist.tab}}Overview{{/tablist.tab}}
        {{#tablist.tab}}Advanced Properties{{/tablist.tab}}
      {{/tabs.tablist}}

      {{#tabs.tabpanel}}
        {{table.table-overview table=model}}
      {{/tabs.tabpanel}}

      {{#tabs.tabpanel}}
        {{table.bucket-props-advanced model=model}}
      {{/tabs.tabpanel}}
    {{/ivy-tabs}}
  {{/dashboard-module.body}}
{{/dashboard-module.container}}

{{#dashboard-module.container class='medium-width'}}
  {{#dashboard-module.header label='Table Rows'}}
      <div class="module-actions">
          <button type="button" class="action-button refresh" {{action 'showModal'}}>
              <span class="ion-refresh" aria-hidden="true"></span>
              Refresh Rows List Cache
          </button>
      </div>
  {{/dashboard-module.header}}
  {{#dashboard-module.body}}
    {{#if (and (not model.hasListBeenRequested) (not model.isListLoaded))}}
        No cache list exists
    {{else if (and model.hasListBeenRequested (not model.isListLoaded))}}
      {{loading-spinner statusMessage=model.statusMessage}}
    {{else}}
      {{#alert-component dismissible=false}}
          Table rows are read from a cached list and may not represent the current state of the table.
          <br/>
          {{#if helpVisibile}}
              <span class="more-info" {{action 'hideHelp'}}>Hide info on explorer cached lists</span>
          {{else}}
              <span class="more-info" {{action 'showHelp'}}>More info on explorer cached lists</span>
          {{/if}}
      {{/alert-component}}

      <table class="key-value-table">
          <tbody>
          <tr>
              <td class="key">Cached List Created:</td>
              <td class="value">
                {{model.rowsList.created}}
              </td>
          </tr>
          <tr>
              <td class="key">Table Rows</td>
              <td class="value">
                  <!--TODO: Reimplement this if needed-->
                {{!--{{#if model.rowsList.multipleListItems}}--}}
                {{!--<p>Displaying rows {{model.rowsList.firstItemIndex}}-{{model.rowsList.lastItemIndex}} out--}}
                {{!--of {{model.rowsList.total}}</p>--}}
                {{!--{{else}}--}}
                {{!--<p>Displaying rows {{model.rowsList.firstItemIndex}} out of {{model.rowsList.total}}</p>--}}
                {{!--{{/if}}--}}

                {{#if model.rows.length}}
                  {{#pagination-component
                  chunkSize=pageSize
                  totalSize=model.rows.length
                  sectionRequest='rowsPageRequest'}}
                      <table class="table-in-kv-table table">
                          <thead>
                          <tr>
                            {{#each model.columns as |column|}}
                                <th>{{column.name}}</th>
                            {{/each}}
                          </tr>
                          </thead>
                          <tbody>
                          {{#each currentTableRows as |row|}}
                              <tr>
                                {{#each row.parsedValue as |value|}}
                                    <td><code>{{value}}</code></td>
                                {{/each}}
                              </tr>
                          {{/each}}
                          </tbody>
                      </table>
                  {{/pagination-component}}
                {{else}}
                    No rows found in table
                {{/if}}
              </td>
          </tr>
          </tbody>
      </table>

    {{/if}}
  {{/dashboard-module.body}}
{{/dashboard-module.container}}

{{!-- Modal Template --}}
{{#if modalVisible}}
  {{#modal-dialog
  close='hideModal'
  translucentOverlay=true}}
      <div class="modal-content-container">
          <header class="modal-header">
              <h3><span class="label label-danger"><i
                      class="ion-alert-circled"></i> Potentially Dangerous Operation</span>
              </h3>
          </header>

          <section class="modal-body">
              Creating a new cache list requires making a streaming call, with multiple response messages sent for each
              request. This can be an expensive operation, and is not recommended if the node is in active use. To
              continue please click the confirm button.
          </section>

          <footer class="modal-footer">
              <button class="btn btn-default" {{action 'hideModal'}}>Cancel</button>
              <button class="btn btn-primary" {{action 'refreshRowsList' model}}>Confirm</button>
          </footer>
      </div>
  {{/modal-dialog}}
{{/if}}

{{!-- Side Drawer Template --}}
{{#ember-wormhole to="side-drawer-container"}}
  {{#side-drawer
  label='Explorer Cached Lists'
  visible=helpVisibile}}
    {{render 'partials.cached-lists'}}
  {{/side-drawer}}
{{/ember-wormhole}}