{{#if model.warnings}}
  {{#bs-alert type="warning" dismissible=false}}
    <h4><span class="label label-warning">WARNINGS</span></h4>
    <ul>
      {{#each model.warnings as |warning|}}
        <li>{{warning}}</li>
      {{/each}}
    </ul>
  {{/bs-alert}}
{{/if}}

<div class='bucket-types-container'>
  {{!--{{#dashboard-module.container class='small-width'}}--}}
  {{!--{{#dashboard-module.header label='Bucket Type Properties'}}--}}
  {{!--<div class="module-actions">--}}
  {{!--{{#link-to 'bucket-type.edit' model.cluster.name model.name class='action-button edit'}}--}}
  {{!--<span class="ion-edit" aria-hidden="true"></span>--}}
  {{!--Edit Bucket Type--}}
  {{!--{{/link-to}}--}}
  {{!--</div>--}}
  {{!--{{/dashboard-module.header}}--}}
  {{!--{{#dashboard-module.body}}--}}
  {{!--{{#ivy-tabs as |tabs|}}--}}
  {{!--{{#tabs.tablist as |tablist|}}--}}
  {{!--{{#tablist.tab}}Overview{{/tablist.tab}}--}}
  {{!--{{#tablist.tab}}Advanced Properties{{/tablist.tab}}--}}
  {{!--{{/tabs.tablist}}--}}

  {{!--{{#tabs.tabpanel}}--}}
  {{!--{{table.bucket-props-overview model=model}}--}}
  {{!--{{/tabs.tabpanel}}--}}

  {{!--{{#tabs.tabpanel}}--}}
  {{!--{{table.bucket-props-advanced model=model}}--}}
  {{!--{{/tabs.tabpanel}}--}}
  {{!--{{/ivy-tabs}}--}}
  {{!--{{/dashboard-module.body}}--}}
  {{!--{{/dashboard-module.container}}--}}

  {{#dashboard-module.container class='medium-width'}}
    {{dashboard-module.header label='Table Information'}}
    {{#dashboard-module.body}}
      <section>
        <label>Data Definition Langauge (DDL)</label>
        {{#code-highlighter language-type='erlang'}}
          {{model.props.ddl}}
        {{/code-highlighter}}
      </section>

      <section>
        {{form.bucket-type.add-rows
        bucketType=model}}
      </section>

      <section>
        {{form.bucket-type.query-table
        bucketType=model}}
      </section>
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>
