{{#if model.warnings}}
  {{#bs-alert type="warning" dismissible=false}}
    <h4><span class="label label-warning">WARNINGS</span></h4>
    <ul>
      {{#each model.warnings as |warning|}}
        <li>{{warning}}</li>
      {{/each}}
    </ul>
  {{/bs-alert}}
{{/if}}

<div class='bucket-types-container'>
  {{#dashboard-module.container class='medium-width'}}
    {{dashboard-module.header label='Table Information'}}
    {{#dashboard-module.body}}
      <section>
        <label>Data Definition Langauge (DDL)</label>
        {{#code-highlighter language-type='erlang'}}
          {{model.props.ddl}}
        {{/code-highlighter}}
      </section>

      <section>
        {{form.bucket-type.add-rows
        bucketType=model}}
      </section>

      <section>
        {{form.bucket-type.query-table
        bucketType=model}}
      </section>
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>
