{{#if errors}}
  {{#alert-component type="danger"}}
    <h4><span class="label label-danger">Errors</span></h4>
    <ul>
      {{#each errors as |error|}}
        <li>{{{error}}}</li>
      {{/each}}
    </ul>
  {{/alert-component}}
{{/if}}

{{#dashboard-module.container class='medium-width bucket-create-container'}}
  {{#dashboard-module.header label='Create Bucket Form'}}
    <div class="module-actions">
      {{#link.explorer-resource resourceType='bucket-type' resourceObj=model.bucketType linkClass="cancel action-button"}}
        <span class="ion-close-round" aria-hidden="true"></span>
        Cancel
      {{/link.explorer-resource}}
    </div>
  {{/dashboard-module.header}}
  {{#dashboard-module.body}}
    {{#if showSpinner}}
      {{loading-spinner statusMessage=spinnerMessage}}
    {{else}}
      {{#dashboard-module.section title='Bucket Info'}}
        {{form.explorer-input label='Name' value=model.name}}
        {{form.add-custom-properties properties=properties}}
      {{/dashboard-module.section}}

      {{#alert-component type='info'}}
        In order to be created, a bucket must contain at least one object. Create that first object below.
      {{/alert-component}}

      {{#dashboard-module.section title='Object Info'}}
        {{#each model.objects as |object|}}
          {{new-object-inputs object=object}}
        {{/each}}
      {{/dashboard-module.section}}

      {{form.explorer-button label='Create Bucket' buttonClick='createBucket'}}
    {{/if}}
  {{/dashboard-module.body}}
{{/dashboard-module.container}}
