{{#dashboard-module.container class='object-counter-container small-width'}}
  {{#dashboard-module.header label='Object Details'}}
    {{#if model.isLoaded}}
      <div class="module-actions">
        <button type="button" class="action-button delete"
          {{action 'deleteObject' model}}>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Delete Object
        </button>
      </div>
    {{/if}}
  {{/dashboard-module.header}}
  {{#dashboard-module.body}}
    {{#if model.isLoaded}}
      <table class="key-value-table">
        <tbody>
        <tr>
          <td class="key">Current Value:</td>
          <td class="value counter-value"><code>{{model.contents}}</code></td>
        </tr>
        <tr>
          <td class="key">
            Change Value:
          </td>
          <td class="value">
            <form class="form-inline">
              <button type="button" class="btn btn-primary" {{action 'decrement' model}}>
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-primary" {{action 'increment' model}}>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    {{else}}
      {{loading-spinner}}
    {{/if}}
  {{/dashboard-module.body}}
{{/dashboard-module.container}}