<div class='cluster-information-container'>
  {{#dashboard-module.container class='medium-width'}}
    {{dashboard-module.header label='Cluster Properties'}}
    {{#dashboard-module.body}}
      <table class="key-value-table">
      <tbody>
      <tr>
        <td class="key">Status</td>
        <td class="value"><span class="cluster-status cluster-status-label {{model.status}}">{{model.status}}</span></td>
      </tr>
      <tr>
        <td class="key">Development Mode</td>
        <td class="value">
          <code>
            {{#if model.developmentMode}}
              On
            {{else}}
              Off
            {{/if}}
          </code>
        </td>
      </tr>
      <tr>
        <td class="key">Edition Type</td>
        <td class="value">
          <code>
          {{#if model.isEnterpriseEdition}}
            Enterprise
          {{else}}
            {{#if model.isOpenSourceEdition}}
              Open Source
            {{else}}
              {{model.riakType}}
            {{/if}}
          {{/if}}
          </code>
        </td>
      </tr>

      </tbody>
    </table>
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}

  {{#dashboard-module.container class='medium-width'}}
    {{dashboard-module.header label='Active Bucket Types'}}
    {{#dashboard-module.body}}
      {{#if model.activeBucketTypes}}
        {{table.bucket-types
        bucketTypes=model.activeBucketTypes}}
      {{else}}
        <p>No bucket types have been activated</p>
      {{/if}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}

  {{#dashboard-module.container class='medium-width'}}
    {{dashboard-module.header label='Inactive Bucket Types'}}
    {{#dashboard-module.body}}
      {{#if model.inactiveBucketTypes}}
        {{table.bucket-types
        bucketTypes=model.inactiveBucketTypes}}
      {{else}}
        <p>No inactive buckets</p>
      {{/if}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>


