<div class='cluster-information-container'>
  {{#dashboard-module.container class='medium-width'}}
    {{dashboard-module.header label='Cluster Properties'}}
    {{#dashboard-module.body}}
      <table class="key-value-table">
      <tbody>
      <tr>
        <td class="key">Status</td>
        <td class="value"><span class="cluster-status cluster-status-label {{model.status}}">{{model.status}}</span></td>
      </tr>
      <tr>
        <td class="key">Development Mode</td>
        <td class="value">
          <code>
            {{#if model.developmentMode}}
              On
            {{else}}
              Off
            {{/if}}
          </code>
        </td>
      </tr>
      <tr>
        <td class="key">Edition Type</td>
        <td class="value">
          <code>
            {{model.riakTypeLong}}
          </code>
        </td>
      </tr>
      </tbody>
    </table>
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}

  {{#if model.isTimeSeries}}
    {{#dashboard-module.container class='medium-width'}}
      {{#dashboard-module.header label='TS Tables'}}
        <div class="module-actions">
          {{#link-to 'table.create' model.name class='action-button create'}}
            <span class="ion-plus-circled" aria-hidden="true"></span>
            Create New Table
          {{/link-to}}
        </div>
      {{/dashboard-module.header}}
      {{#dashboard-module.body}}
        {{#if model.tables}}
          {{table.ts-tables
            tables=model.tables}}
        {{else}}
          <p>No Time Series tables have been created on this cluster</p>
        {{/if}}
      {{/dashboard-module.body}}
    {{/dashboard-module.container}}
  {{/if}}

  {{#dashboard-module.container class='medium-width'}}
    {{#dashboard-module.header label='KV Bucket Types'}}
      <div class="module-actions">
        {{#link-to 'bucket-type.create' model.name class='action-button create'}}
          <span class="ion-plus-circled" aria-hidden="true"></span>
          Create New Bucket Type
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}
    {{#dashboard-module.body}}
      {{#ivy-tabs as |tabs|}}
          {{#tabs.tablist as |tablist|}}
            {{#tablist.tab}}Active Bucket Types{{/tablist.tab}}
            {{#tablist.tab}}Inactive Bucket Types{{/tablist.tab}}
          {{/tabs.tablist}}

          {{#tabs.tabpanel}}
            {{#if model.activeBucketTypes}}
              {{table.bucket-types
                bucketTypes=model.activeBucketTypes}}
            {{else}}
              <p>No bucket types have been activated</p>
            {{/if}}
          {{/tabs.tabpanel}}

          {{#tabs.tabpanel}}
            {{#if model.inactiveBucketTypes}}
              {{table.bucket-types
              bucketTypes=model.inactiveBucketTypes}}
            {{else}}
              <p>No inactive buckets</p>
            {{/if}}
          {{/tabs.tabpanel}}
      {{/ivy-tabs}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>


