{{#if model.warnings}}
  {{#bs-alert type="warning"}}
    <ul>
      <h4><span class="label label-warning">WARNINGS</span></h4>
      {{#each model.warnings as |warning|}}
        <li>{{warning}}</li>
      {{/each}}
    </ul>
  {{/bs-alert}}
{{/if}}

<div class='bucket-types-container'>
  {{#dashboard-module class='half'}}
    {{dashboard-module-header label='Bucket Properties'}}
    {{#dashboard-module-body}}
      {{#if model.props}}
        {{#ivy-tabs }}
          {{#ivy-tab-list}}
            {{#ivy-tab}}Overview{{/ivy-tab}}
            {{#ivy-tab}}Advanced Properties{{/ivy-tab}}
          {{/ivy-tab-list}}

          {{#ivy-tab-panel}}
            {{bucket-properties model=model}}
          {{/ivy-tab-panel}}

          {{#ivy-tab-panel}}
            <table class="key-value-table">
              {{#each model.props.propsList as |prop|}}
                <tr>
                  <td class='key'>{{prop.key}}</td>
                  <td class='value'>{{prop.value}}</td>
                </tr>
              {{/each}}
            </table>
          {{/ivy-tab-panel}}
        {{/ivy-tabs}}
      {{else}}
        Properties not loaded
      {{/if}}
    {{/dashboard-module-body}}
  {{/dashboard-module}}

  {{#dashboard-module class='half'}}
    {{#dashboard-module-header label='Keys'}}
      {{#if model.isKeyListLoaded}}
        <div class="module-actions">
          {{#if model.cluster.developmentMode}}
            <button type="button" class="action-button refresh"
              {{action 'refreshKeys' model}}>
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              Refresh Key List Cache
            </button>
          {{/if}}
          {{#if model.keyList.showDeleteKeys}}
              <button type="button" class="action-button delete" {{action 'deleteBucket' model}}>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete All Keys
              </button>
          {{/if}}
        </div>
      {{/if}}
    {{/dashboard-module-header}}
    {{#dashboard-module-body}}
      {{#if model.isKeyListLoaded}}
        {{#if model.keyList.cachePresent}}
          <table class="key-value-table">
            <tbody>
            <tr>
              <td class="key">Key list cache created:</td>
              <td class="value">{{model.keyList.created}}</td>
            </tr>
            <tr>
              <td class="key">Cached Key List:</td>
              <td class="value">
                {{#if model.keyList.keys}}
                  {{#if model.keyList.multipleListItems}}
                    <p>Displaying keys {{model.keyList.firstItemIndex}}-{{model.keyList.lastItemIndex}} out
                      of {{model.keyList.total}}</p>
                  {{else}}
                    <p>Displaying key {{model.keyList.firstItemIndex}} out of {{model.keyList.total}}</p>
                  {{/if}}

                  {{#pagination-component
                  chunkSize=model.keyList.pageSize
                  totalSize=model.keyList.total
                  sectionRequest='retrieveRequestedKeys'}}
                    <ul class='button-list'>
                      {{#each model.keyList.keys as |obj|}}
                        <li>
                          {{link.link-object obj=obj}}
                        </li>
                      {{/each}}
                    </ul>
                  {{/pagination-component}}
                {{else}}
                  No keys found
                {{/if}}
              </td>
            </tr>
            </tbody>
          </table>
        {{else}}
          <p>Cached list not available.
            This cluster is in Production mode, and so no cache refresh is
            possible.</p>
        {{/if}}
      {{else}}
        {{loading-spinner statusMessage=model.keyList.statusMessage}}
      {{/if}}
    {{/dashboard-module-body}}
  {{/dashboard-module}}
</div>
