{{#dashboard-module class='small-width'}}
  {{dashboard-module-header label='Index Details'}}
  {{#dashboard-module-body}}
    <table class="key-value-table">
      <tbody>
      <tr>
        <td class="key">Name</td>
        <td class="value">{{model.name}}</td>
      </tr>
      <tr>
        <td class="key">N Value</td>
        <td class="value">{{model.nVal}}</td>
      </tr>
      <tr>
        <td class="key">Schema</td>
        <td class="value">
          {{#link-to 'search-schema' model.cluster.name model.schema.name class='btn btn-small btn-primary'}}
            {{model.schema.name}}
          {{/link-to}}
        </td>
      </tr>
      <tr>
        <td class="key">Bucket Types Using Index</td>
        <td class="value">
          {{#if model.bucketTypesUsing}}
            <ul class="button-list">
              {{#each model.bucketTypesUsing as |bucketType|}}
                <li>
                  {{link.bucket-type bucketType=bucketType}}
                </li>
              {{/each}}
            </ul>
          {{else}}
            None
          {{/if}}
        </td>
      </tr>
      </tbody>
    </table>
  {{/dashboard-module-body}}
{{/dashboard-module}}
