{{#dashboard-module class='medium-width'}}
  {{#dashboard-module-body}}
    {{#ivy-tabs}}
      {{#ivy-tab-list}}
        {{#ivy-tab}}Statistics{{/ivy-tab}}
        {{#ivy-tab}}Configuration{{/ivy-tab}}
        {{#ivy-tab}}Log Files{{/ivy-tab}}
        {{#ivy-tab}}Config Files{{/ivy-tab}}
      {{/ivy-tab-list}}

      {{#ivy-tab-panel}}
        <table class="key-value-table">
          <tbody>
          {{#each model.statsList as |stat|}}
            <tr>
              <td class='key'>{{stat.key}}</td>
              <td class='value'>{{stat.value}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/ivy-tab-panel}}

      {{#ivy-tab-panel}}
        {{#if model.advancedConfig}}
          <h4>Advanced</h4>
          <ul class="code-list">
            {{#each model.advancedConfig as |advancedItem|}}
              <li><code>{{advancedItem}}</code></li>
            {{/each}}
          </ul>

          <h4>General</h4>
        {{/if}}

        <table class="key-value-table">
          <tbody>
          {{#each model.configList as |config|}}
            <tr>
              <td class='key'>{{config.key}}</td>
              <td class='value'>{{config.value}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/ivy-tab-panel}}

      {{#ivy-tab-panel}}
        {{#if model.logFiles}}
          <ul class="button-list">
            {{#each model.logFiles as |logFile|}}
              <li>
                {{link-to logFile.name 'log-file' model.cluster.name model.name logFile.name}}
              </li>
            {{/each}}
          </ul>
        {{else}}
          No log files for this node
        {{/if}}
      {{/ivy-tab-panel}}

      {{#ivy-tab-panel}}
        {{#if model.configFiles}}
          <ul class="button-list">
            {{#each model.configFiles as |configFile|}}
              <li>
                {{link-to configFile.name 'config-file' model.cluster.name model.name configFile.name}}
              </li>
            {{/each}}
          </ul>
        {{else}}
          No config files for this node
        {{/if}}
      {{/ivy-tab-panel}}

    {{/ivy-tabs}}
  {{/dashboard-module-body}}
{{/dashboard-module}}
