{{#dashboard-module.container class='medium-width'}}
  {{#dashboard-module.header label='Object Contents'}}
    <div class="module-actions">
      <a href="{{model.url}}" class="action-button raw">
        <span class="ion-eye" aria-hidden="true"></span>
        View Raw Data
      </a>
      {{#link-to 'riak-object.edit'
      model.cluster.name
      model.bucketType.name
      model.bucket.name
      model.name
      classNames='action-button edit' }}
        <span class="ion-edit" aria-hidden="true"></span>
        Edit Object
      {{/link-to}}
      <button type="button" class="action-button delete" {{action 'deleteObject' model}}>
        <span class="ion-trash-a" aria-hidden="true"></span>
        Delete Object
      </button>
    </div>
  {{/dashboard-module.header}}
  {{#dashboard-module.body}}
    <div class="object-contents">
      <table class="key-value-table">
        <tbody>
        <tr>
          <td class="key">Content-Type</td>
          <td class="value">
            {{#if model.contentType}}
              <code>{{model.contentType}}</code>
            {{else}}
              <code>Undefined</code>
            {{/if}}
          </td>
        </tr>
        {{#if model.showContents}}
          <tr>
            <td class="key">Content</td>
            <td class="value">
              {{#code-highlighter language-type=model.contentTypeLanguage}}
                {{model.contents}}
              {{/code-highlighter}}
            </td>
          </tr>
        {{/if}}
        </tbody>
      </table>
    </div>
  {{/dashboard-module.body}}
{{/dashboard-module.container}}

{{#dashboard-module.container class='medium-width'}}
  {{dashboard-module.header label='Object Metadata'}}
  {{#dashboard-module.body}}
    {{#ivy-tabs}}
        {{#ivy-tab-list}}
          {{#ivy-tab}}General{{/ivy-tab}}
          {{#ivy-tab}}Secondary Indexes{{/ivy-tab}}
          {{#ivy-tab}}Custom Headers{{/ivy-tab}}
        {{/ivy-tab-list}}

        {{#ivy-tab-panel}}
          {{table.object-version object=model}}
        {{/ivy-tab-panel}}

        {{#ivy-tab-panel}}
          {{table.object-headers headers=model.indexes}}
        {{/ivy-tab-panel}}

        {{#ivy-tab-panel}}
          {{table.object-headers headers=model.headersCustom}}
        {{/ivy-tab-panel}}
      {{/ivy-tabs}}
  {{/dashboard-module.body}}
{{/dashboard-module.container}}


