{{#dashboard-module class='medium-width'}}
  {{#dashboard-module-header label='Object Contents'}}
    {{#if model.isLoaded}}
      <div class="module-actions">
        <a href="{{model.rawUrl}}" class="action-button raw">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          View raw
        </a>

        {{#link-to 'riak-object.edit' model classNames='action-button edit' }}
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          Edit Object
        {{/link-to}}

        <button type="button" class="action-button delete"
          {{action 'deleteObject' model}}>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Delete
        </button>
      </div>
    {{/if}}
  {{/dashboard-module-header}}
  {{#dashboard-module-body}}
    {{#if model.isLoaded}}
      <div class="object-contents">
        <table class="key-value-table">
          <tbody>
          <tr>
            <td class="key">Content-Type</td>
            <td class="value">{{model.metadata.contentType}}</td>
          </tr>
          {{#if model.contentsForDisplay}}
            <tr>
              <td class="key">Content-Type</td>
              <td class="value">
                <code>{{model.contentsForDisplay}}</code>
              </td>
            </tr>
          {{/if}}
          </tbody>
        </table>
      </div>
    {{else}}
      {{loading-spinner}}
    {{/if}}
  {{/dashboard-module-body}}
{{/dashboard-module}}

{{#dashboard-module class='medium-width'}}
  {{dashboard-module-header label='Object Metadata'}}

  {{#dashboard-module-body}}
    {{#if model.isLoaded}}
      {{#ivy-tabs}}
        {{#ivy-tab-list}}
          {{#ivy-tab}}General{{/ivy-tab}}
          {{#ivy-tab}}Secondary Indexes{{/ivy-tab}}
          {{#ivy-tab}}Custom Headers{{/ivy-tab}}
        {{/ivy-tab-list}}

        {{#ivy-tab-panel}}
          {{object-version object=model}}
        {{/ivy-tab-panel}}

        {{#ivy-tab-panel}}
          {{object-headers
          headers=model.metadata.headersIndexes}}
        {{/ivy-tab-panel}}

        {{#ivy-tab-panel}}
          {{object-headers
          headers=model.metadata.headersCustom}}
        {{/ivy-tab-panel}}
      {{/ivy-tabs}}
    {{else}}
      {{loading-spinner}}
    {{/if}}
  {{/dashboard-module-body}}
{{/dashboard-module}}


