<div class='view-header'>
  {{breadcrumb-component
  subSection='data'
  clusterId=model.clusterId
  bucketTypeId=model.bucketTypeId
  bucketId=model.bucketId
  keyId=model.key
  }}
  {{view-label
  pre-label='Map Object'
  label=model.key}}
</div>


{{#dashboard-module}}
  {{#if model.isLoaded}}
    {{object-contents-map model=model deleteObject="deleteObject"}}
  {{else}}
    {{loading-spinner}}
  {{/if}}
{{/dashboard-module}}
