<div class="app-panel">
  {{render 'topbar'}}
  <div class="wrapper-panel">
    <div class="sidebar-panel">
      {{#power-select
      class='cluster-selector'
      searchEnabled=false
      selected=currentCluster
      placeholder='Select Cluster'
      options=model
      onchange=(action 'clusterSelected')
      as |cluster|}}
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        {{cluster.id}}
      {{/power-select}}

      {{#if currentCluster}}
        <div class="current-cluster">
          <header>
            <div class="title">Cluster: {{currentCluster.id}}</div>
            <ul class="meta list-inline">
              {{#if currentCluster.hasVersion}}
                <li>{{currentCluster.riakVersion}}</li>
              {{/if}}
              {{#if currentCluster.hasType}}
                <li>{{currentCluster.riakType}}</li>
              {{/if}}
              {{#if currentCluster.developmentMode}}
                <li class='dev-mode'>Dev mode</li>
              {{/if}}
            </ul>
            <span class="cluster-status-circle {{currentCluster.status}}"></span>
          </header>
          <nav class="cluster-section-links current-section-is-{{clusterSubSection}}">
            {{#link-to 'cluster.data' currentCluster.id class='data'}}
              <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
              Data
            {{/link-to}}
            {{#link-to 'cluster.ops' currentCluster.id class='ops'}}
              <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
              Ops
            {{/link-to}}
            {{#link-to 'cluster.query' currentCluster.id class='query'}}
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              Query
            {{/link-to}}
          </nav>
        </div>
      {{/if}}
    </div>
    <div class="results-panel">
      {{#if showViewHeader}}
        <div class='view-header'>
          {{breadcrumb-component
          clusterSubSection=clusterSubSection
          data=breadCrumbMap}}

          {{view-label
          pre-label=viewLabelMap.preLabel
          label=viewLabelMap.label}}
        </div>
      {{/if}}

      <div class="view-body">
        {{outlet 'alert'}}
        {{outlet}}
      </div>
    </div>
  </div>
</div>