{{#if model.warnings}}
  {{#bs-alert type="warning"}}
    <ul>
      <h4><span class="label label-warning">WARNINGS</span></h4>
      {{#each model.warnings as |warning|}}
        <li>{{warning}}</li>
      {{/each}}
    </ul>
  {{/bs-alert}}
{{/if}}

<div class='bucket-types-container'>
  {{#dashboard-module class='half'}}
    {{dashboard-module-header label='Bucket-Type Properties'}}
    {{#dashboard-module-body}}
      {{#ivy-tabs }}
        {{#ivy-tab-list}}
          {{#ivy-tab}}Overview{{/ivy-tab}}
          {{#ivy-tab}}Advanced Properties{{/ivy-tab}}
        {{/ivy-tab-list}}

        {{#ivy-tab-panel}}
          {{table.bucket-props-overview model=model}}
        {{/ivy-tab-panel}}

        {{#ivy-tab-panel}}
          {{table.bucket-props-advanced model=model}}
        {{/ivy-tab-panel}}
      {{/ivy-tabs}}
    {{/dashboard-module-body}}
  {{/dashboard-module}}

  {{#dashboard-module class='small-width'}}
    {{#dashboard-module-header label='Buckets'}}
      {{#if model.bucketList}}
        <div class="module-actions">
          {{#if model.cluster.developmentMode}}
            {{!--<button type="button" class="action-button refresh" {{action 'refreshBuckets' model}}>--}}
              {{!--<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>--}}
              {{!--Refresh Bucket List Cache--}}
            {{!--</button>--}}
          {{/if}}
        </div>
      {{/if}}
    {{/dashboard-module-header}}
    {{#dashboard-module-body}}
      {{#if model.bucketList}}
        <table class="key-value-table">
          <tbody>
            <tr>
              <td class="key">Bucket List cache created:</td>
              <td class="value">{{model.bucketList.created}}</td>
            </tr>
            <tr>
              <td class="key">Cached Bucket List</td>
              <td class="value">
                {{#if model.bucketList.count}}
                  {{#if model.bucketList.hasMultipleListItems}}
                    <p>Displaying buckets {{model.bucketList.firstItemIndex}}-{{model.bucketList.lastItemIndex}} out
                      of {{model.bucketList.total}} total buckets</p>
                  {{else}}
                    <p>Displaying bucket {{model.bucketList.firstItemIndex}} out of {{model.bucketList.total}} total buckets</p>
                  {{/if}}

                  <ul class='button-list'>
                    {{#each model.buckets as |bucket|}}
                      <li>
                        {{#link-to 'bucket' bucket.bucketType.cluster.name bucket.bucketType.name bucket.name}}
                          {{bucket.name}}
                        {{/link-to}}
                      </li>
                    {{/each}}
                  </ul>

                  {{!-- TODO: How is pageSize being hydrated??? --}}
                  {{!--{{#pagination-component--}}
                  {{!--chunkSize=model.bucketList.pageSize--}}
                  {{!--totalSize=model.bucketList.total--}}
                  {{!--sectionRequest='retrieveRequestedBuckets'}}--}}

                  {{!--{{/pagination-component}}--}}
                {{else}}
                  No buckets found
                {{/if}}
              </td>
            </tr>
          </tbody>
        </table>
      {{else}}
      {{!--{{loading-spinner statusMessage=model.bucketList.statusMessage}}--}}
        {{loading-spinner statusMessage="fetching bucket list"}}
      {{/if}}
      {{!--{{#if model.bucketList.cachePresent}}--}}
        {{!--<table class="key-value-table">--}}
          {{!--<tbody>--}}
          {{!--<tr>--}}
            {{!--<td class="key">Bucket List cache created:</td>--}}
            {{!--<td class="value">{{model.bucketList.created}}</td>--}}
          {{!--</tr>--}}

          {{!--<tr>--}}
            {{!--<td class="key">Cached Bucket List</td>--}}
            {{!--<td class="value">--}}
              {{!--{{#if model.bucketList.buckets}}--}}
                {{!--{{#if model.bucketList.multipleListItems}}--}}
                  {{!--<p>Displaying buckets {{model.bucketList.firstItemIndex}}-{{model.bucketList.lastItemIndex}} out--}}
                    {{!--of {{model.bucketList.total}}</p>--}}
                {{!--{{else}}--}}
                  {{!--<p>Displaying bucket {{model.bucketList.firstItemIndex}} out of {{model.bucketList.total}}</p>--}}
                {{!--{{/if}}--}}

                {{!--{{#pagination-component--}}
                {{!--chunkSize=model.bucketList.pageSize--}}
                {{!--totalSize=model.bucketList.total--}}
                {{!--sectionRequest='retrieveRequestedBuckets'}}--}}
                  {{!--<ul class='button-list'>--}}
                    {{!--{{#each model.bucketList.buckets as |bucket|}}--}}
                      {{!--<li>--}}
                        {{!--{{link.link-bucket bucket=bucket}}--}}
                      {{!--</li>--}}
                    {{!--{{/each}}--}}
                  {{!--</ul>--}}
                {{!--{{/pagination-component}}--}}
              {{!--{{else}}--}}
                {{!--No buckets found--}}
              {{!--{{/if}}--}}
            {{!--</td>--}}
          {{!--</tr>--}}
          {{!--</tbody>--}}
        {{!--</table>--}}
      {{!--{{else}}--}}
        {{!--<p>--}}
          {{!--Cached list not available.--}}
          {{!--This cluster is in Production mode, and so no cache refresh is--}}
          {{!--possible.--}}
        {{!--</p>--}}
      {{!--{{/if}}--}}
    {{/dashboard-module-body}}
  {{/dashboard-module}}
</div>
