{{#if model.warnings}}
  {{#bs-alert type="warning"}}
    <ul>
      <h4><span class="label label-warning">WARNINGS</span></h4>
      {{#each model.warnings as |warning|}}
        <li>{{warning}}</li>
      {{/each}}
    </ul>
  {{/bs-alert}}
{{/if}}

<div class='bucket-types-container'>
  {{#dashboard-module class='small-width'}}
    {{dashboard-module-header label='Bucket-Type Properties'}}
    {{#dashboard-module-body}}
      {{#if model.props}}
        {{#ivy-tabs }}
          {{#ivy-tab-list}}
            {{#ivy-tab}}Overview{{/ivy-tab}}
            {{#ivy-tab}}Advanced Properties{{/ivy-tab}}
          {{/ivy-tab-list}}

          {{#ivy-tab-panel}}
            <table class='key-value-table'>
              <tr>
                <td class='key'>Object type:</td>
                <td class='value'>
                  {{model.props.objectType}}
                  {{#if model.isActive}}
                    <span class="label label-success">Active</span>
                  {{else}}
                    <span class="label label-default">Inactive</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td class='key'>Conflict Res. Strategy:</td>
                <td class='value'>{{model.props.resolutionStrategy}}</td>
              </tr>
              <tr>
                <td class='key'>Quorum:</td>
                <td class='value'>
                  N_Val: {{model.props.nVal}}
                  {{#if model.props.quorumRelevant}}
                    <br/>
                    R: {{model.props.quorum.r}}, W: {{model.props.quorum.w}},
                    PR: {{model.props.quorum.pr}}, PW: {{model.props.quorum.pw}},
                    DW: {{model.props.quorum.dw}}
                    <br/>
                    <small>
                      (basic_quorum: {{model.props.quorum.basic_quorum}},
                      notfound_ok: {{model.props.quorum.basic_quorum}})
                    </small>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td class='key'>Search Index:</td>
                <td class='value'>
                  {{#if model.index}}
                    {{#link-to 'search-index' model.index.cluster.clusterId model.index.name class='btn btn-primary'}}
                      {{model.index.name}}
                    {{/link-to}}
                  {{else}}
                    n/a (not being indexed)
                  {{/if}}
                </td>
              </tr>
            </table>
          {{/ivy-tab-panel}}

          {{#ivy-tab-panel}}
            <table class="key-value-table">
              {{#each model.props.propsList as |prop|}}
                <tr>
                  <td class='key'>{{prop.key}}</td>
                  <td class='value'>{{prop.value}}</td>
                </tr>
              {{/each}}
            </table>
          {{/ivy-tab-panel}}
        {{/ivy-tabs}}
      {{else}}
        Properties not loaded
      {{/if}}
    {{/dashboard-module-body}}
  {{/dashboard-module}}

  {{#dashboard-module class='small-width'}}
    {{#dashboard-module-header label='Buckets'}}
      {{#if model.isBucketListLoaded}}
        <div class="module-actions">
          {{#if model.cluster.developmentMode}}
            <button type="button" class="action-button refresh" {{action 'refreshBuckets' model}}>
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              Refresh Bucket List Cache
            </button>
          {{/if}}
        </div>
      {{/if}}
    {{/dashboard-module-header}}
    {{#dashboard-module-body}}
      {{#if model.isBucketListLoaded}}
        {{#if model.bucketList.cachePresent}}
          <table class="key-value-table">
            <tbody>
            <tr>
              <td class="key">Bucket List cache created:</td>
              <td class="value">{{model.bucketList.created}}</td>
            </tr>

            <tr>
              <td class="key">Cached Bucket List</td>
              <td class="value">
                {{#if model.bucketList.buckets}}
                  {{#if model.bucketList.multipleListItems}}
                    <p>Displaying buckets {{model.bucketList.firstItemIndex}}-{{model.bucketList.lastItemIndex}} out
                      of {{model.bucketList.total}}</p>
                  {{else}}
                    <p>Displaying bucket {{model.bucketList.firstItemIndex}} out of {{model.bucketList.total}}</p>
                  {{/if}}

                  {{#pagination-component
                  chunkSize=model.bucketList.pageSize
                  totalSize=model.bucketList.total
                  sectionRequest='retrieveRequestedBuckets'}}
                    <ul class='button-list'>
                      {{#each model.bucketList.buckets as |bucket|}}
                        <li>
                          {{link.link-bucket bucket=bucket}}
                        </li>
                      {{/each}}
                    </ul>
                  {{/pagination-component}}
                {{else}}
                  No buckets found
                {{/if}}
              </td>
            </tr>
            </tbody>
          </table>
        {{else}}
          <p>
            Cached list not available.
            This cluster is in Production mode, and so no cache refresh is
            possible.
          </p>
        {{/if}}
      {{else}}
        {{loading-spinner statusMessage=model.bucketList.statusMessage}}
      {{/if}}
    {{/dashboard-module-body}}
  {{/dashboard-module}}
</div>
