<thead>
<tr>
  <th class="name">Name</th>
  <th class="riak-type">Riak Type</th>
  <th class="object-type">Object Type</th>
  <th class="n-val">n_val</th>
  <th class="res-stategy">Conflict Res. Strategy</th>
</tr>
</thead>
<tbody>
{{#each bucketTypes as |bt|}}
  <tr>
    <td>
      {{link.bucket-type bucketType=bt btnBlock=true}}
    </td>
    <td>
      {{bt.dataStoreType}}
    </td>
    <td>
      {{bt.objectType}}
    </td>
    <td>
      <code>{{bt.nVal}}</code>
    </td>
    <td>
      <code>{{bt.resolutionStrategy}}</code>
    </td>
  </tr>
{{/each}}
</tbody>

