{{#each model.propsWithHelp as |prop|}}
  <tr>
    <td class='key'>
      {{#if (or prop.name prop.key)}}
        {{#if prop.name}}
          {{prop.name}}
        {{/if}}

        {{#if (not prop.name)}}
          {{prop.key}}
        {{/if}}
      {{/if}}

      {{tooltip.bucket-props
      itemKey=prop.key
      itemDescription=prop.description
      itemDefaultValue=prop.default
      itemIsEditable=prop.editable
      itemSchemaType=prop.json_schema_type}}
    </td>
    <td class='value'>
      <code>
        {{#if (is-array prop.value)}}
          [{{prop.value}}]
        {{else}}
          {{prop.value}}
        {{/if}}
      </code>
    </td>
  </tr>
{{/each}}